<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
       
       
        <link rel="stylesheet" type="text/css" href="fo.css">
    </head>
    <body>

   
<div id="app">

  <section class="header">
    <div class="user-info">
      <div class="user-info-propic">
        <img src="https://www.iconbolt.com/iconsets/ionicons-outline/person-circle.svg" alt="User" class="user-info-propic__image">
      </div>
      <h1 class="user-info__name">Ohene Mills</h1>
      <p class="user-info__position">General Manager</p>
      <p class="user-info__location">Central University </p>
    </div>
    <div class="user-stats-card">
      <div class="user-stats-card__stat">
        <h3 class="user-stats-card__stat-value"><a href="" class="top"> Call</a></h3>
        
      </div>
      <div class="user-stats-card__stat">
        <h3 class="user-stats-card__stat-value"><a href="" class="top"> Message</a></h3>
   
      </div>
    </div>
  </section>

  <section class="activities">
    <div class="container">
      <div class="activity">
      <div class="activity-icon activity-icon--pending"></div>
      <p class="activity-text">Name: Ohene Johnson Nana</p>
    </div>
      <div class="activity">
      <div class="activity-icon activity-icon--resolved">
        <i class="fas fa-check">M</i>
        </div>
      <p class="activity-text">Mobile: 0241348911</p>
    </div>
      <div class="activity">
      <div class="activity-icon activity-icon--failed">
        <i class="fas fa-times">P</i>
        </div>
      <p class="activity-text">Position: General Manager</p>
    </div>
    </div>
  </section>

  <div class="notification-card">
    <div class="notification-card__icon">
      <i class="far fa-clock">e</i>
    </div>
    <div class="notification-card__info">
      <p class="notification-card__type">
        Send an Email
      </p>
      <p class="notification-card__details">
        ebenmills200@gmail.com
      </p>
    </div>
  </div>

  <section class="leaderboard">
      <div class="container">
        <h5 class="heading5">
      Leadership
    </h5>
    <div class="leaderboard-list">
      

      <div class="user-card">
    
          <p class="user-card-info__name">
          President of Ghana -2022
          </p>
         
        </div>
        <div class="user-card">
    
          <p class="user-card-info__name">
           Vice President of Ghana -2021
          </p>
         
        </div>
      </div>

  </section>
 
</div>
</body>
</html>